{{ if .Site.Data.homepage.curriculars.enable }}
<section id="curriculars" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.curriculars.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.curriculars.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="education">
                            <div class="education__date">{{ .year }}</div>
                            <div class="education__title">{{ .university }}</div>
                            <div class="education__degree">
                                {{ .degree }}
                          
                        </div>
                    </div>
                    <br>
                 
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
   
</section>

{{ end }}
