{{ if .Site.Data.homepage.skills.enable }}
<section id="skills" class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        <center>
        <img
          class="lozad img-responsive image-left-overflow"
          src="https://rohanpoojari.netlify.com/img/who-am-i/a.jpg"
          data-src="{{ .Site.Data.homepage.about.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.about.image.x | absURL }} 1x, {{ .Site.Data.homepage.skills.about._2x | absURL }} 2x"
         
        />
          </center>
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ .Site.Data.homepage.skills.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.skills.content | safeHTML }}
        </p>
      
      </div>
    </div>
  </div>
</section>
{{ end }}
