<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Rohan Poojari</title>

    {{ partial "head.html" . }}

<!--     {{ partial "head_custom.html" . }} -->
	<meta name="description" content="Mechanical Engineer">
  <meta name="keywords" content="design, manufacturing, environment, energy efficiency, resume, mechanical">
  <meta name="author" content="Rohan Poojari">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	{{ partial "header.html" . }}

	{{ partial "showcase.html" . }}

	{{ partial "about.html" . }}

	{{ partial "education.html" . }}

	{{ partial "skills.html" . }}

	{{ partial "curriculars.html" . }}

	{{ partial "experience.html" . }}

	{{ partial "client-and-work.html" . }}

	{{ partial "publications.html" . }}

	{{ partial "blogs.html" . }}


    {{ partial "contact.html" . }}

    {{ partial "newsletter.html" . }}

	{{ partial "footer.html" . }}

    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->
